{% load staticfiles %}
<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Rail-ro Free pass</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static '/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/zabuto_calendar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/js/gritter/css/jquery.gritter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/lineicons/style.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <link href="{% static '/css/style-responsive.css' %}" rel="stylesheet">

    <script src="{% static '/js/chart-master/Chart.js' %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">

    <script language="javascript">
      function writeCheck() {
          var form = document.writeform;

          if (!form.name.value)
          {
              alert("이름을 적어주세요");
              form.name.focus();
              return;
          }
          if (!form.subject.value) {
              alert("제목을 적어주세요");
              form.subject.focus();
              return;
          }
          if (!form.memo.value) {
              alert("내용을 적어주세요");
              form.memo.focus();
              return;
          }
          form.submit();
      }
  </script>
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="/index/" class="logo"><b>Rail-ro Free pass</b></a>
            <!--logo end-->
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <p class="centered"><img src="{% static '/img/default.jpg' %}" class="img-circle" width="60"></p>
                  {% if user.is_authenticated %}
                    <h5 class="centered">{{user.username}}</h5>
                  {% else %}
                    <h5 class="centered" href="/login">로그인 해주세요.</h5>
                  {% endif %}

                  <li class="mt">
                      <a href="/schedule/">
                          <i class="fa fa-clock-o"></i>
                          <span>스케쥴짜기</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/location.html">
                          <i class="fa fa-map-marker"></i>
                          <span>장소추천</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a class="active" href="/community/">
                          <i class="fa fa-pencil"></i>
                          <span>커뮤니티</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;">
                          <i class="fa fa-user"></i>
                          <span>마이페이지</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/user_update/">회원정보 수정</a></li>
                          <li><a  href="/user_leave/">회원탈퇴</a></li>
                          <li><a  href="/past_list/">과거여행 정보</a></li>
                      </ul>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
            <script language="javascript">
      function boardlist()
      {
          var s = "{{searchStr}}";

          if(s=="None")
              location.href = '/community?current_page={{current_page}}';
          else
              location.href = 'listSearchedSpecificPageWork?pageForView={{current_page}}&searchStr={{searchStr}}';
      }

      function boardmodify()
      {
          location.href='viewForUpdate?memo_id={{memo_id}}&current_page={{current_page}}&searchStr={{searchStr}}';
      }

      function boarddelete()
      {
          location.href='viewForDelete?memo_id={{memo_id}}&current_page={{current_page}}';
      }
  </script>
  <table cellspacing = 0 cellpadding = 5 border = 1 width=500>
      <tr><td><b>조회수</b></td><td> {{ boardData.hits }} </td></tr>
      <tr><td><b>이름 </b></td><td> {{ boardData.name }} </td></tr>
      <tr><td><b>이메일 </b></td><td> {{ boardData.mail }} </td></tr>
      <tr><td><b>제목 </b></td><td> {{ boardData.subject }} </td></tr>
      <tr><td><b>내용 </b></td><td width=350> {{ boardData.memo }} </td></tr>
  </table>

  <table  cellspacing = 0 cellpadding = 0 border = 0 width=500>
      <tr><td>
          <input type=button value="수정" OnClick="javascript:boardmodify()">
          <input type=button value="목록" OnClick="javascript:boardlist()">
          <input type=button value="삭제" OnClick="javascript:boarddelete()">
      </td></tr>
  </table>

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->

      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              &copy; 2018 DNA
              <a href="writeBoard.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static '/js/jquery.js' %}"></script>
    <script src="{% static '/js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static '/js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static '/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static '/js/jquery.sparkline.js' %}"></script>


    <!--common script for all pages-->

    <script type="text/javascript" src="{% static '/js/gritter/js/jquery.gritter.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/gritter-conf.js' %}"></script>

    <!--script for this page-->
    <script src="{% static '/js/sparkline-chart.js' %}"></script>
	<script src="{% static '/js/zabuto_calendar.js' %}"></script>





  </body>
</html>
