{% load staticfiles %}
<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Rail-ro Free pass</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/zabuto_calendar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/gritter/css/jquery.gritter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lineicons/style.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">

    <script src="{% static 'js/chart-master/Chart.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
    function toggle(list) {
        var list = $("#"+list+"_list")
        var display_status = list.css("display")
        if(display_status === "none")
          list.css("display","inline-flex")
        else
          list.css("display","none")
    };
    -->
    </script>
    <script language="javascript">
      function writeCheck() {
        //var now = new Date();
        //var todayDate = new Date(now.getFullYear(), now.getMonth(), now.getDate());
        var form = document.scheduleform;
        if (!form.railro_type.value)
        {
            alert("타입을 선택해주세요");
            form.railro_type.focus();
            return;
        }
        if (!form.railro_day.value) {
            alert("일권을 선택해주세요");
            form.railro_day.focus();
            return;
        }
        if (!form.start_loc.value) {
            alert("출발지를 선택해주세요");
            form.start_loc.focus();
            return;
        }
        if (!form.end_loc.value) {
            alert("도착지를 선택해주세요");
            form.end_loc.focus();
            return;
        }
        if (!form.start_date.value) {
            alert("출발날짜를 선택해주세요");
            form.start_date.focus();
            return;
        }
        if (!form.end_date.value) {
            alert("도착날짜를 선택해주세요");
            form.end_date.focus();
            return;
        }
        form.submit();
      }
  </script>
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="/index" class="logo"><b>Rail-ro Free pass</b></a>
            <!--logo end-->
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="/login">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <p class="centered"><img src="{% static 'img/default.jpg' %}" class="img-circle" width="60"></a></p>
                  {% if user.is_authenticated %}
                    <h5 class="centered">{{user.username}}</h5>
                  {% else %}
                    <h5 class="centered" href="/login">로그인 해주세요.</h5>
                  {% endif %}

                  <li class="mt">
                      <a class="active" href="/schedule">
                          <i class="fa fa-clock-o"></i>
                          <span>스케쥴짜기</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/location">
                          <i class="fa fa-map-marker"></i>
                          <span>장소추천</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/community">
                          <i class="fa fa-pencil"></i>
                          <span>커뮤니티</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;">
                          <i class="fa fa-user"></i>
                          <span>마이페이지</span>
                      </a>
                      <ul class="sub">
                          <!-- TODO 링크 연결하기-->
                          <li><a  href="/user_update">회원정보 수정</a></li>
                          <li><a  href="/user_leave">회원탈퇴</a></li>
                          <li><a  href="/past_list">과거여행 정보</a></li>
                      </ul>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
            <div class="row mt">
              <div class="col-lg-12">
                <form name="scheduleform" method="post" action="doschedule">
                  {% csrf_token %}
                <p> 내일로 유형 :
                  <select class="btn btn-round" name="railro_type">
                    <option value="general">내일로 패스</option>
                    <option value="premium">프리미엄 내일로 패스</option>
                  </select>
                </p>
                <p> 일권 선택 :
                  <select class="btn btn-round" name="railro_day">
                    <option value="five" >5일권</option>
                    <option value="seven">7일권</option>
                  </select>
                </p>
                <p> 출발지 선택 :
                  <div style="width:100%;display: inline-flex">
                    <input style="width:50%"type="text"  class="form-control" placeholder="출발지를 선택하세요">
                    <button id="search" type="button" class="btn btn-default btn-sm" onclick="toggle('source')" >검색</button>
                  </div>
                  <div id ="source_list" style="width:100%;display: none;">
                    <select multiple class="form-control" style="width:30%">
                      {% for key, val in state_list.items %}
                        <option id="src_{{key}}" onclick="api('src_{{key}}')">{{ val }}</option>
                      {% endfor %}
        						 </select>
                     <select name="start_loc" id="src_locList" multiple class="form-control" style="width:30%">
         						</select>
                  </div>
                </p>
                <p> 도착지 선택 :
                  <div style="width:100%;display: inline-flex">
                    <input style="width:50%"type="text"  class="form-control" placeholder="도착지를 선택하세요">
                    <button id="search" type="button" class="btn btn-default btn-sm" onclick="toggle('dest')">검색</button>
                  </div>
                  <div id ="dest_list"style="width:100%;display: none">
                    <select multiple class="form-control" style="width:30%">
                      {% for key, val in state_list.items %}
                        <option id="des_{{key}}" onclick="api('des_{{key}}')">{{ val }}</option>
                      {% endfor %}
                     </select>
                    <select name="end_loc" id="des_locList" multiple class="form-control" style="width:30%">
        						</select>
                  </div>
                </p>
                <p> 출발 날짜 선택 :
                  <div class="input-group date col-md-3" >
                    <input type="text" name="start_date" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  </div>
                </p>
                <p> 도착 날짜 선택 :
                  <div class="input-group date col-md-3" >
                    <input type="text" name="end_date" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  </div>
                </p>
                {% csrf_token %}
              </form>
                <div class="btn-group pull-right">
    						  <!--<button type="button" class="btn btn-default ">Previous</button>-->
    						  <button type="submit" class="btn btn-default " onclick="writeCheck()">Next</button>
    						</div>
          		</div>
          	</div>

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->

      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              &copy; 2018 DNA
              <a href="schedule.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.sparkline.js' %}"></script>


    <!--common script for all pages-->

    <script type="text/javascript" src="{% static 'js/gritter/js/jquery.gritter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gritter-conf.js' %}"></script>

    <!--script for this page-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='https://code.jquery.com/jquery-1.8.3.js'></script>

    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
  <script src="{% static 'js/bootstrap-datepicker.kr.js' %}" charset="UTF-8"></script>


	<script type="application/javascript">

  $(function(){
      $('.input-group.date').datepicker({
          calendarWeeks: false,
          todayHighlight: true,
          autoclose: true,
          format: "yyyy-mm-dd",
          language: "kr"
      });
  });

  var src_locList = $("#src_locList"),
      des_locList = $("#des_locList");

        // state를 눌렀을 때, location List를 나오게 하는 function
          function api(button_key) {
            console.log(button_key)
            $.ajax({
                type: "GET",
                url : "test_api?key="+button_key,
                dataType: "json",
                success : function(data) {
                  console.log(data)
                  var datalist = '';
                  for(var i=1; i<data.length; i++) {
                    datalist += '<option value=' + data[i][0] + '>' + data[i][1] + '</option>'
                  }
                  if(data[0][1] == 'src') {src_locList.html(datalist)}
                  if(data[0][1] == 'des') {des_locList.html(datalist)}
                },
                error : function() {
                  console.log("통신실패");
                },
            })
          }

        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>


  </body>
</html>
